<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="database" value="Oracle" />
        <option name="lastD1" value="1656669807277" />
        <option name="theUsageCount" value="1650006396822" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>