<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="generateMethodInService" value="true" />
        <option name="generateMethodInServiceInterface" value="true" />
        <option name="generateWithIfTest" value="true" />
        <option name="javaMapperPackage" value="com.xt.demo.mapper" />
        <option name="javaMapperPath" value="$USER_HOME$/work/demo/src/main/java/" />
        <option name="javaModelPackage" value="com.xt.demo.entity" />
        <option name="javaModelPath" value="$USER_HOME$/work/demo/src/main/java/" />
        <option name="mapperPrefix" value="Mapper" />
        <option name="mysqlUseWithDash" value="true" />
        <option name="xmlMapperPackage" value="mybatis.mapper" />
        <option name="xmlMapperPath" value="$USER_HOME$/work/demo/src/main/resources/" />
      </Profile>
    </option>
  </component>
</application>